body {
  margin: 0
}

sub,
sup {
  font-size: 75%;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

.m-u-1,
.m-u-1-12,
.m-u-1-2,
.m-u-1-3,
.m-u-1-5,
.m-u-1-6,
.m-u-1-8,
.m-u-17-24,
.m-u-2-5,
.m-u-4-5,
.m-u-5-24 {
  display: inline-block;
  vertical-align: top;
}

.m-u-1-12 {
  width: 8.3333%
}

.m-u-1-8 {
  width: 12.5%
}

.m-u-1-6 {
  width: 16.6667%
}

.m-u-1-5 {
  width: 20%
}

.m-u-5-24 {
  width: 20.8333%
}

.m-u-1-3 {
  width: 33.3333%
}

.m-u-2-5 {
  width: 40%
}

.m-u-1-2 {
  width: 50%
}

.m-u-17-24 {
  width: 70.8333%
}

.m-u-4-5 {
  width: 80%
}

.m-button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

.m-button:focus,
.m-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
  outline: 0
}

.m-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
  border-color: #000
}

.m-f-r {
  float: right
}

.m-none {
  display: none
}