body {
  margin: 0
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.hidden,
[hidden] {
  display: none !important
}

.m-u-1,
.m-u-1-1,
.m-u-1-12,
.m-u-1-2,
.m-u-1-24,
.m-u-1-3,
.m-u-1-4,
.m-u-1-5,
.m-u-1-6,
.m-u-1-8,
.m-u-10-24,
.m-u-11-12,
.m-u-11-24,
.m-u-12-24,
.m-u-13-24,
.m-u-14-24,
.m-u-15-24,
.m-u-16-24,
.m-u-17-24,
.m-u-18-24,
.m-u-19-24,
.m-u-2-24,
.m-u-2-3,
.m-u-2-5,
.m-u-20-24,
.m-u-21-24,
.m-u-22-24,
.m-u-23-24,
.m-u-3-24,
.m-u-3-4,
.m-u-3-5,
.m-u-3-8,
.m-u-4-24,
.m-u-4-5,
.m-u-5-12,
.m-u-5-24,
.m-u-5-6,
.m-u-5-8,
.m-u-6-24,
.m-u-7-12,
.m-u-7-24,
.m-u-7-8,
.m-u-8-24,
.m-u-9-24 {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto
}

.m-u-1-24 {
  width: 4.1667%
}

.m-u-1-12,
.m-u-2-24 {
  width: 8.3333%
}

.m-u-1-8,
.m-u-3-24 {
  width: 12.5%
}

.m-u-1-6,
.m-u-4-24 {
  width: 16.6667%
}

.m-u-1-5 {
  width: 20%
}

.m-u-5-24 {
  width: 20.8333%
}

.m-u-1-4,
.m-u-6-24 {
  width: 25%
}

.m-u-7-24 {
  width: 29.1667%
}

.m-u-1-3,
.m-u-8-24 {
  width: 33.3333%
}

.m-u-3-8,
.m-u-9-24 {
  width: 37.5%
}

.m-u-2-5 {
  width: 40%
}

.m-u-10-24,
.m-u-5-12 {
  width: 41.6667%
}

.m-u-11-24 {
  width: 45.8333%
}

.m-u-1-2,
.m-u-12-24 {
  width: 50%
}

.m-u-13-24 {
  width: 54.1667%
}

.m-u-14-24,
.m-u-7-12 {
  width: 58.3333%
}

.m-u-3-5 {
  width: 60%
}

.m-u-15-24,
.m-u-5-8 {
  width: 62.5%
}

.m-u-16-24,
.m-u-2-3 {
  width: 66.6667%
}

.m-u-17-24 {
  width: 70.8333%
}

.m-u-18-24,
.m-u-3-4 {
  width: 75%
}

.m-u-19-24 {
  width: 79.1667%
}

.m-u-4-5 {
  width: 80%
}

.m-u-20-24,
.m-u-5-6 {
  width: 83.3333%
}

.m-u-21-24,
.m-u-7-8 {
  width: 87.5%
}

.m-u-11-12,
.m-u-22-24 {
  width: 91.6667%
}

.m-u-23-24 {
  width: 95.8333%
}

.m-u-1 {
  width: 100%
}

.m-button {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

.m-button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.m-button:focus,
.m-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.m-button:focus {
  outline: 0
}

.m-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px rgba(0, 0, 0, .2) inset;
  border-color: #000
}

.m-f-r {
  float: right
}

.m-none {
  display: none
}

.m-g-r {
  letter-spacing: -.51em;
}