/* Layer */
.ply-layer {
	color: #333;
	min-width: 280px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	background-color: #fff;
	border-radius: 2px;
	font-size: 16px;
}

.ply-layer.alert .ply-content,
.ply-layer.confirm .ply-content {
	padding: 20px 0 15px;
	text-align: center;
}

.ply-layer.base .ply-footer,
.ply-layer.alert .ply-footer,
.ply-layer.confirm .ply-footer,
.ply-layer.prompt .ply-footer {
	margin-top: 20px;
	text-align: center;
}

.ply-inside {
	padding: 20px;
}

.ply-header {
	margin: -20px -20px 20px;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #f1f1f1;
	border-radius: 2px 2px 0 0;
}

.ply-footer .ply-ctrl {
	margin-left: 20px;
}

.ply-footer .ply-ctrl:first-child {
	margin-left: 0;
}


/* Controls */
.ply-x {
	top: 12px;
	right: 5px;
	cursor: pointer;
	padding: 5px;
	z-index: 1000;
	position: absolute;
	font-size: 20px;
	line-height: 0;
}

.ply-ok,
.ply-cancel {
	color: #fff;
	cursor: pointer;
	border: 0;
	outline: 0;
	padding: 5px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	background-color: #39C082;
	border-radius: 3px;
	font-size: 18px;
}

.ply-ok {
	width: 100px;
}

.ply-cancel {
	background-color: #b2b2b2;
}

.ply-ok:focus,
.ply-cancel:focus {
	box-shadow: 0 0 1px 2px rgba(255, 180, 0, .6);
	border: 2px solid rgb(255, 210, 102)\9;
}

.ply-ok::-moz-focus-inner,
.ply-cancel::-moz-focus-inner {
	border: 0;
}



/* Forms */
.ply-input {
	width: 100%;
	border: 2px solid #ccc;
	outline: 0;
	padding: 5px 10px;
	margin-top: 15px;
	font-size: 16px;
	box-sizing: border-box;
}

.ply-input:first-child {
	margin-top: 0;
}

.ply-input:focus {
	border-color: #39C082;
}



/* Global modifiers */
.ply-invalid .ply-input {
	border-color: #c00;
}